/* Extra small devices (portrait phones, less than 576px) */
/* Tag Selectors */
h1 {
  font-size: 5rem;
  color: #ffffff;
}

h2 {
  padding-bottom: 15px;
}

h3 {
  padding-bottom: 15px;
}

p {
  font-size: 1.5rem;
}

hr {
  border: dotted #c0c0c0;
  border-width: 0 0 8px 0;
  width: 5%;
  margin-top: 20px;
}

a{
  color: #CCCCCC;
  text-decoration: underline;
  }

tel {
  font-size: 1.5rem;
}

@media (max-width: 1440px) {
  tel {
    font-size: 1.285rem;
  }
}

@media screen and (max-device-width: 575.98px) {
  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.75rem;
  }

  p {
    font-size: 2.5rem;
  }

  hr {
    border: dotted #c0c0c0;
    border-width: 0 0 12px 0;
    width: 5%;
    margin-top: 20px;
  }

  tel {
    font-size: 2.5rem;
  }
}

/* bootstrap */
.vertical-center {
  min-height: 25%;
  /*Fallback for browsers do NOT support vh unit */
  min-height: 25vh;
  /*These two lines are counted as one*/
  display: flex;
  align-items: center;
  text-align: center;
  background-position: center;
}

/* header */
.yoo {
  color: #F68220;
}

/* body buttons */
.button1 {
  background-color: #707070;
  /* Grey background */
  border: 1px solid #c0c0c0;
  /* Grey border */
  color: white;
  /* White text */
  padding: 20px 24px;
  /* Some padding */
  cursor: pointer;
  /* Pointer/hand icon */
  width: 50%;
  /* Set a width if needed */
  display: block;
  /* Make the buttons appear below each other */
  margin: 10px auto;
}

.button2 {
  background-color: #F68220;
  /* Orange background */
  border: 1px solid #c0c0c0;
  /* Grey border */
  color: white;
  /* White text */
  padding: 20px 24px;
  /* Some padding */
  cursor: pointer;
  /* Pointer/hand icon */
  width: 50%;
  /* Set a width if needed */
  display: block;
  /* Make the buttons appear below each other */
  margin: 10px auto;
}

.btn-group {
  display: block;
  text-align: center;
}

.btn-group button:not(:last-child) {
  border-bottom: none;
  /* Prevent double borders */
}

/* facilities */
.facilities {
  color: #000000;
}

.content {
  padding: 10px;
  text-align: center;
  line-height: 1.5;
}

.tel {
  padding: 10px;
  text-align: center;
  line-height: 1.5;
}

.app {
  height: 80px;
}

.guidehome {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #F68220;
}



@media screen and (max-device-width: 575.98px) {
  .content {
    padding: 0 32px 0 32px;
  }
}

/* buttons hover */
.button1:hover {
  background-color: #F68220;
}

.button2:hover {
  background-color: #707070;
}
